/*
    Shadows file
    Used for define shadows of project

    Every category must follow convention:
    * Category must contain only shadow type name

    Every entry must follow convention:
    * Must begins with category name
    * Further should be followed by tag/class/id/etc.

    By example: --box-shadow-card
*/

:root
{
    /* base shadows */
    --box-shadow-large: 0.000rem 0.313rem 0.625rem 0.000rem;
    --box-shadow-small: 0.000rem 0.188rem 0.313rem 0.000rem;

    /* box-shadow mappings */
    --box-shadow-setup-div: var(--box-shadow-large);
    --box-shadow-form-squares-grid-div: var(--box-shadow-small);
    --box-shadow-main-settings-underline: var(--box-shadow-small);
    --box-shadow-button-squares-grid-div: var(--box-shadow-small);
    --box-shadow-theme-buttons-input: var(--box-shadow-small);
    --box-shadow-background-settings-input: var(--box-shadow-small);
    --box-shadow-submit: var(--box-shadow-small);
    --box-shadow-card: var(--box-shadow-large);
    --box-shadow-uptime-squares-grid-div: var(--box-shadow-small);
    --box-shadow-error-img: var(--box-shadow-small);
    --box-shadow-error-div: var(--box-shadow-large);
}